iframe.-demo-inline {
  border: 1px #ccc solid;
}

.-demo-inline-medium {
  height: 400px;
}

.-demo-inline-large {
  width: 900px;
  height: 600px;
}

.-demo-inline-default {
  width: 337px;
  height: 500px;
}