body {
    margin: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    overflow: hidden;
}

.sidebar-wrapper {
    width: 400px;
    position: relative;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 400px;
    height: 100vh;

    overflow: auto;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    z-index: 200;
}

.sidebar .sidebar-content {
    padding: 55px 30px 120px;
}

.sidebar .level[level='0'] {
    color: #8d92a1;
    font-size: 1em;
}

.sidebar .title {
    cursor: pointer;
}

.sidebar .level[level='1'] .level {
    font-size: 16px;
    color: #243348;
    margin-left: 20px;
}

.sidebar .level .title {
    margin: 10px 0;
}
.sidebar .level .title-content:hover,
.sidebar .level .expanding-status:hover .fa
{
    color: #ff7c72;
}
.sidebar .level .title.selected  {
    color: #42b983;
}

.sidebar .level .title-content {
    white-space: nowrap;
}

/* content & iframe */
.content {
    padding-left: 400px;
    position: relative;
    z-index: 50;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.content iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* expanding & collapsing */
.expanding-status {
    width: 20px;
    margin-right: 4px;
    text-align: center;
    display: inline-block;
}

.expanding-status .fa,
.level.no-child > .title .expanding-status .fa {
    display: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #999;
}

.level.no-child > .title .expanding-status .icon-none,
.level[expanding-status=expanded] > .title .icon-down,
.level[expanding-status=collapsed] > .title .icon-right {
    display: inline-block;
}

.level.no-child > .title .expanding-status .icon-none {
    font-size: 8px;
    color: #ddd;
    vertical-align: 2px;
}

.level[expanding-status=collapsed] > .children {
    display: none;
}


/* page filtering */
.page-filter-container {
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2000;
    top: 0;
    padding: 20px 30px 10px 20px;

    transition: opacity 400ms;
}

.page-filter-container .fa-filter {
    position: absolute;
    top: 28px;
    font-size: 12px;
    left: 30px;
    color: #999;
    transition: color 400ms;
}

.page-filter-container.focused .fa-filter {
    color: #555;
}

.page-filter-container input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    color: #555;
}

#page-filter {
    border: 1px #ccc solid;
    line-height: 24px;
    padding: 0 5px 0 25px;
    border-radius: 12px;
    font-size: 14px;
}

.page-filter-container.fixed {
    opacity: 0.5;
}

.page-filter-container.fixed.focused {
    opacity: 1;
}

/* filtering */

.filtering .level {
    display: none;
}

.filtering .level.filtered {
    display: block;
}

.filtering .level.filtered > .title {
    opacity: 0.4;
}

.filtering .level.filtered.filtered-hit > .title {
    opacity: 1;
}