<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/lodash/lodash.js"></script>
    <script src="/demo-page.js"></script>
    <script src="/vendor/requirejs/require.js"></script>
    <script src="/build/share.js"></script>

    <link href="/vendor/fontawesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/build/public.css" type="text/css" rel="stylesheet">
    <link href="/build/private.css" type="text/css" rel="stylesheet">
    <link href="/base-page.css" type="text/css" rel="stylesheet">
    <script></script>
</head>
<body class="@@CLASS@@">
    @@CONTENT@@
    <script>@@JS@@</script>
</body>
</html>