---addItem
<button>Add an item</button>

---timer
<div>Hello, now is <span>&hellip;</span></div>

<script>
    define(['./demo-share.demo.js'], function() {

        var addItem = tpl('addItem');

        bind('iframe', tpl({
            _: globals.demoComp,
            content: {
                _: '<%= c.list(d) %> <%= c.addItem() %>',
                addItem: locals.addItem
            }
        }), {
            data: function() {
                return {
                    title: 'iframe demo',
                    list: ['james', 'marry', 'jerry'],
                    seq: 0
                }
            },
            sel: {
                ul: 'ul',
                items: '!ul li'
            },
            event: {
                'click': function(e, t) {
                    console.log('clicked on demo comp', t.$.items().map(function() {return $(this).html();}));
                },
                'click ul li': function(e, t) {
                    t.$t.remove();
                    e.stopPropagation();
                },
                'click button': function(e, t) {
                    var item = 'people ' + t.d.seq ++;
                    t.$.ul.append(globals.demoListItem(item));
                    e.stopPropagation();
                }
            }
        });

        bind('page', locals.timer, {
            sel: {
                time: 'span'
            },
            init: function(t) {
                setInterval(function() {
                    t.$.time.html(new Date().toLocaleString());
                }, 1000);
            }
        })
    });

</script>